@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
.App {
  flex: 1;
  min-width: 320px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: 'Montserrat', serif;
  background-color: antiquewhite; }

.App .heading {
  padding: 30px 15px;
  text-align: center;
  z-index: 1; }

@media screen and (min-width: 769px) {
  .App .heading {
    padding: 40px 15px; } }

.App .heading h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: var(--text-default); }

@media screen and (min-width: 769px) {
  .App .heading h1 {
    font-size: 32px; } }

.App .form {
  text-align: center; }
