html,
body {
  -webkit-overflow-scrolling: touch; }

html {
  height: -webkit-fill-available;
  overflow-y: scroll;
  overflow-y: overlay;
  scroll-behavior: smooth; }

* {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  outline: none !important;
  outline: 0px !important; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: --var-text-default;
  min-width: 320px;
  line-height: 1.3;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  overflow-y: auto; }

#root {
  flex: 1;
  min-width: 320px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

:root {
  --text-default: #323232;
  --text-placeholder: #B7B7B7; }
